div.container
    ul.nav.nav-pills.nav-fill
        li.nav-item
            a.nav-link.active.news 最新資訊
        li.nav-item
            a.nav-link.search 搜尋
        li.nav-item
            a.nav-link Link